<%-include("../../partials/header");-%>
<div class="d-flex flex-row">   
<%-include("../../details-form/form");-%>  
<%-include("../../Crousel/scene");-%>  
</div>
<%-include("../../partials/footer.ejs")-%>