<%-include("../../partials/header");-%>
<div class="qr mt-4">    
    <h2 class="flex-item">QR CODE</h2>
    <img class="flex-item" src=<%= qr_code %> width="250" alt="QR CODE"/>
    <h3 class="flex-item">Take ScreenShot of the above QR</h3>
</div>
    <%-include("../../partials/footer.ejs")-%>