<%-include("../../partials/header");-%>
<div class="remove text-center box">
    <form action="/Qr" method="post" class="mt-5">
        <h1>Enter the OTP here</h1>
        <div class="">
        <label for="">PHONE</label>
        <input  name="phone" type="number" maxlength="10">
        <label class="">OTP</label>
        <input  name="filled_otp" type="number" maxlength="4">
        </div>
        <button name="otp_button" type="submit" class="m-2 btn buton ">Submit</button>
    </form>
</div>
<%-include("../../partials/footer.ejs")-%>